body {
    background-color: darkcyan;
    color: white;
    font-family: sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
    color: white;
}

#application {
    width: 500px;
    height: 500px;
    margin: 250px auto;
}

h1 {
    text-align: center;
    font-size: 45pt;
}

#form {
    margin: 10px;
}

.rounded {
    border: 1px solid darkcyan;
    border-radius: 5px;
}

#date {
    width: 50px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
}

.submit {
    width: 100px;
    padding: 10px;
    margin-top: 45px;
    background-color: darkturquoise;
    color: white;
    font-weight: bold;
}

#output {
    width: 400px;
    height: 18px;
    padding: 10px;
    margin: 75px 10px;
    background-color: darkturquoise;
    font-weight: bold;
}
